<!DOCTYPE HTML>

<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>NCA JAVA2</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<link rel="stylesheet" href="/assets/main.css" />
</head>

<body>

	<h3>ログイン</h3>
	<form method="post" th:action="@{${path} + 'menu'}">
		<div>
			<label for="email">Email</label>
			<input type="email" name="email" id="email" value="" />h.takahashi@edu.nca.ac.jp
		</div>
		<div>
			<label for="pass">パスワード</label>
			<input type="password" name="password" id="password" value="" />nca5f502
		</div>
		<input type="submit" name="submit" id="submit" class="button primary" value="ログイン" />
	</form>

</body>

</html>