<!DOCTYPE HTML>

<html lang="ja" xmlns:th="http://www.thymeleaf.org">
	
<head>
	<title>NCA JAVA2</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<link rel="stylesheet" href="/assets/main.css" />
</head>

<body>

	<h3>メニュー</h3>
	<a th:href="@{${path} + 'add'}" class="button primary">新規登録</a>
	<a th:href="@{${path} + 'search'}" class="button primary">検索</a>
	<hr />
	<!-- ログアウト（POST /s2lsn0/perform_logout） -->
	<!--
	<a th:href="@{${path} + 'login'}" class="button secondary">ログアウト</a>
	-->
	<form th:action="@{${path} + 'perform_logout'}" method="post" style="display:inline;">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<button type="submit" class="button secondary">ログアウト</button>
	</form>


</body>

</html>